/**
 * Common Styles
 */
body {
  color: #363636;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.6em;
  font-style: normal;
  font-weight: 500;
  margin:0;
  padding:0;
}

* {
  box-sizing: border-box;
}

a {
  color: #6598b8;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', sans-serif;
}
h1 small,
h2 small,
h3 small,
h4 small {
  font-size:60%;
}

h3 {
  font-size: 32px;
  line-height: 1.2em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  margin: 1em 0 .5em;
  color: #1c1c1c;
}

[hidden] {
  display: none !important;
}


form {
  margin: 40px auto 0;
  text-align: center;
  width: 50%;
}

input,
button,
label {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

input[type=text],
input[type=number],
input[type=password] {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #CCC;
  border-radius: 20px;
  color: #333;
  display: block;
  font-size: 12px;
  height: 42px;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0 20px;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=password] {
  border-color: #9A9898;
  outline: 0;
}


input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  border:solid 1px #CCC;
  border-radius: 2px;
  display: inline-block;
  padding: 8px;
  position: relative;
  top: 6px;
}

input[type=checkbox]:checked {
  border: solid 1px #000;
  background-color: #000;
}

input[type=checkbox]:checked::after {
  color: #fff;
  content: '\2714';
  font-size: 10px;
  left: 4px;
  position: absolute;
  top: 1px;
}

input[type=checkbox]:focus {
  outline: none;
}

label{
  font-size: 12px;
}

button[type=submit] {
  background-color: #000;
  border: 0;
  border-radius: 20px;
  color: #FFF;
  display: block;
  height: 39px;
  margin-top: 30px;
  padding: 10px 20px;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

button[type=submit]:hover {
  background: #000;
  box-shadow: 0 4px 35px -5px #eee;
}

button[type=submit]:disabled{
  cursor: not-allowed;
  opacity: .8 !important;
}

/**
 * Desktop
 */
@media (max-width: 768px) {
  form {
    width: 100%;
  }
}

/**
 * Loader Styles
 */
.loader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader .spinnerBlock {
  animation: rotate 600ms linear 600ms infinite;
  display: block;
  height: 50px;
  transform-origin: center;
  width: 50px;
}

.loader span {
  border: 2px solid #eee;
  border-radius: 50%;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.loader span:nth-child(1) {
  border-color: #eee;
}

.loader span:nth-child(2) {
  left: -18px;
  top: 10px;
}

.loader span:nth-child(3) {
  left: -18px;
  top: -10px;
}

.loader span:nth-child(4) {
  left: 0;
  top: -18px;
}

.loader span:nth-child(5) {
  left: 18px;
  top: -10px;
}

.loader span:nth-child(6) {
  left: 18px;
  top: 10px;
}

.loader span:nth-child(7) {
  left: 0;
  top: 18px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
 * Fade in effect
 * http://cssnerd.com/2012/04/03/jquery-like-pure-css3-image-fade-in/
 */
.fadeIn {
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  opacity:0;
}

.fadeIn-3s {
  animation-duration: 1s;
}

.fadeIn-5s {
  animation-duration: 2s;
}

.fadeIn-Delay-3s {
  animation-delay: 1s;
}

.fadeIn-Delay-5s {
  animation-delay: 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

